@page "/"
@rendermode InteractiveServer
@inject IConfiguration Configuration

<PageTitle>Home</PageTitle>

<h1>Home</h1>

Aspire AI app Home location.

<hr />
<h3>Configuration Values</h3>

<ul>
    <li><b>Type:</b> @HomeConfigurations.ActiveModelController</li>
    <li><b>Endpoint:</b> @HomeConfigurations.ActiveModelURL</li>
    <li><b>Model:</b> @HomeConfigurations.ActiveModel</li>
</ul>



